@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    SkillTree<br />
    提供 .NET 解決方案教育訓練<br />
    <abbr title="Phone">Tel:</abbr>
    0927-710-522<br />
    <abbr title="Phone">Fax:</abbr>
    02-2599-7144
</address>

<address>
    <strong>Support:</strong> <a href="mailto:demo@demoshop.tw">demo@demoshop.tw</a><br/>
</address>
