
@{
    ViewBag.Title = "JavaScript";
}

<h2>JavaScript</h2>

<script src="@Url.Action("JavaScriptResult", "Home")" type="text/javascript"></script> 

<p>
    JavaScriptResult 和 ContentResult 非常非常的類似，差別只在於 Content-Type
</p>
